/*Center climbing image and reduce size*/
img#me {
  max-width:370px;
  margin-top:20px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
}

/*Center mountain image and reduce size*/
img#mountain {
  max-width:370px;
  margin-top:20px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding-top:100px;
  width:50%;
}

/*Center LinkedIn image and reduce size*/
img#linkedin {
  max-width:40px;
  margin-top:10px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:10%;
}

/*Add styles to separate columns of text on the page body*/
.column {
  display:block;
  float:left;
  align:center;
  max-width:30%;
  text-align:left;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
}

/*Center images and reduce their display size*/
img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:60%;
}

/*Center Heading 2 and 3 text and change color*/
h2, h3 {
  text-align:center;
  color:#FFC300;
}

/*Center Heading 1 text and change color*/
h1 {
  text-align:center;
  color:#C70039;
}

/*Change Heading 3 font size*/
h3 a {
  font-size:17px;
}

/*Change body text color*/
p {
  color:#606060;
}

/*Adjust text link color*/
a {
  color:#CD5C5C;
}

/*Change site background color*/
body {
  background-color:#E5F9C0;
}
